:root{
    --primary-red: rgb(200,0,0);
    --dark-red: rgb(100,10,10);
}

#heading1{
    color: var(--dark-red);
}

.text-green{
    color: green;
}

.text-background-yellow{
    background-color: rgb(200, 200, 12)
}

body{
    background-repeat: no-repeat;
    background-position: top right;
    background-attachment: fixed;
}

a{
    color:blueviolet;
    background-color: darkblue;
    padding: 20px 10px 20px 10px
}

a:hover{
    color:blue;
    background-color: rgb(0, 0, 87);
}

h1{
    font-size: 3.8rem;
    font-family: "Roboto", "Tahoma", sans-serif;
}

.text-para{
    text-align: center;
    text-transform: uppercase;
    text-overflow: ellipsis;
} 

@media (max-width: 576px) {
    body{
        background-color: brown;
    }
}

